@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height: auto;max-height: 100%;background: url('@Url.Content("~/Content/images/1234.jpg")') no-repeat center center;">
    
    <h1 style="color:deeppink">7-Elephant</h1>
    <h2 style="color: deeppink">Mobile Store</> </h2>
    <p class="lead" style="color: deeppink">
        This is the greatest mobile store in Thailand.
    </p>
   <p><a href="~/Phone" class="btn btn-primary btn-lg">Buy »</a></p>   
</div>

 <div class="row">
   <div class="col-md-4">
        <h2>เลือกซื้อสินค้า</h2>
       <p>
            7-Elephant เป็นร้านขายมือถือที่คุณสามารถเลือกซื้อมือถือที่คุณต้องการได้ง่ายๆเพียงแค่คลิ๊กเข้ามาซื้อสินค้าบนเว็บไซต์ของเรา
        </p>
       <p><a class="btn btn-default" href="#">Buy »</a></p>
    </div>
 <div class="col-md-4">
       <h2>เลือกดูรีวิวสินค้า</h2>
        <p>
            นอกจากร้านค้าจองเราจะขายโทรศัพท์มากมายแล้วยังมีรีวิวต่างๆให้คุณเลือกดูก่อนซื้อสินค้า</p>
          
        <p><a class="btn btn-default" href="#">ดูรีวิว</a></p>
       
    </div>
     <div class="col-md-4">
        <h2>เพลิดเพลินกับการซื้อสินค้าของคุณ</h2>
        <p>เเลือกซื้อสินค้าได้ตามที่คุณต้องการ พร้อมรับโปรโมชั่นและสิทธิพิเศษดีๆจากเรา</p>
        <p><a class="btn btn-default" href="#">โปรโมชั่น»</a></p>
        
    </div>
    
</div>
   
